@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
header{
    padding: 20px;
    background-color: yellow;
    
}
menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header a{
    
    text-decoration: none;
    margin-right: 10px;
    
}
#destaque{
    
    color: black;
}
main{
    padding: 30px;
    margin-bottom: 10px;
}
main h1, h2, a, p{
    padding: 10px;
}
